@use "../../assets/variables";

input {
    background-color: variables.$blue;
    color: white;
    border-radius: 5px;

    &::placeholder {
        color: white;
    }
}
.btn-search {
    background-color: variables.$green;
    border: 1px solid white;
    border-radius: 5px;
}

